@font-face {
    font-family: "Gerbera-Black";
    src: url(../fonts/Gerbera-Black.otf);
}

@font-face {
    font-family: "Gerbera-Bold";
    src: url(../fonts/Gerbera-Bold.otf);
}

@font-face {
    font-family: "Gerbera-Light";
    src: url(../fonts/Gerbera-Light.otf);
}

@font-face {
    font-family: "Gerbera-Medium";
    src: url(../fonts/Gerbera-Medium.otf);
}

@font-face {
    font-family: "Gerbera";
    src: url(../fonts/Gerbera.otf);
}
