@import "normalize.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";

body {
  position: relative;
  left: 50%;
  margin-left: -512px;
  background-color: #fff;
}

ul {
  margin: 0;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5 {
  @include h4;
}

.h6 {
  @include h4;
}

header {
  position: fixed;
  z-index: 5;
  width: 1024px;
  height: 80px;
  background-color: #f0f1f2;
  border: 1px solid #dddddd;
}

.menu {
  float: left;
  height: 80px;
  width: 80px;
  border-right: 1px solid #dddddd;
}

.menu-close {
  margin: auto;
  margin-top: 30px;
  width: 18px;
  height: 18px;
  background-image: url(../img/close_15-14.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-search {
  float: left;
}

.header-search input {
  border: none;
  background-color: transparent;
  outline:none;
}

.search-ico {
  float: left;
  width: 18px;
  height: 18px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-bag {
  float: right;
  height: 80px;
  width: 80px;
  border-left: 1px solid #dddddd;
}

.bag-ico {
  margin: auto;
  width: 27px;
  height: 18px;
  background-image: url(../img/bag.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  position: absolute;
  top: 80px;
  height: 687px;
  width: 1024px;
  background-color: #f0f1f2;
  border: 1px solid #dddddd;
}

nav {
  float: left;
  min-width: 384px;
  height: 687px;
  border-right: 1px solid #dddddd;
}

.nav-items {
  list-style: none;
  padding: 0;
}

.nav-items a {
  text-decoration: none;
}

.nav-item {
  margin-top: 15px;
  margin-left: 33px;
}

.nav-item-ico {
  float: left;
  margin-right: 5px;
}

.outSearch {
  float: left;
  min-width: 639px;
  height: 687px;
  overflow-y: auto;
}

.quantity-farm {
  margin-left: 30px;
  margin-bottom: 6px;
  margin-top: 24px;
}

.outSearch-container {
  width: 580px;
  height: 63px;
  margin-bottom: 2px;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.6);
}

.outSearch-img {
  float: left;
  height: 42px;
  width: 42px;
  margin: 11px 14px 10px 12px;
}

.name-container {
  padding-top: 20px;
}

.farm-name,
.farm-geo {
  float: left;
}

.quantity {
  float: right;
  margin-right: 18px;
}

.outSearch-product {
  margin-top: 48px;
}
