@import "normalize.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "mobilemenu.scss";
@import "mobilesearch.scss";

body {
  overflow-x: hidden;
}

ul {
  margin: 0;
}

.h1-mobile {
  @include h1-mobile;
}

.h1 {
  @include h1;
}

.h2-mobile {
  @include h2-mobile;
}

.h2 {
  @include h2;
}

.h3-mobile {
  @include h3-mobile;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5-mobile {
  @include h5-mobile;
}

.h5 {
  @include h5;
}

.h6 {
  @include h6;
}

.wrap {
  position: relative;
  left: 50%;
  margin-left: -512px;
}

header {
  position: fixed;
  z-index: 5;
  width: 1024px;
  height: 80px;
  background-color: #f0f1f2;
  border: 1px solid #dddddd;
}

.menu {
  float: left;
  height: 80px;
  width: 80px;
  border-right: 1px solid #dddddd;
}

.menu-close {
  margin: auto;
  margin-top: 30px;
  width: 18px;
  height: 18px;
  background-image: url(../img/close_15-14.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-search {
  float: left;
}

.header-search input {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 780px;
  border: none;
  background-color: transparent;
  outline:none;
  margin-left: 19px;
}

.search-ico {
  float: left;
  width: 18px;
  height: 18px;
  margin-top: 30px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 28px;
}

.header-bag {
  float: right;
  height: 80px;
  width: 80px;
  border-left: 1px solid #dddddd;
}

.bag-ico {
  margin: auto;
  margin-top: 30px;
  width: 27px;
  height: 18px;
  background-image: url(../img/bag.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bag-circle {
  position: relative;
  bottom: 10px;
  left: 17px;
  height: 19px;
  width: 19px;
  background-color: #5ac442;
  border-radius: 50%;
}

.bag-circle span {
  position: absolute;
  top: 4px;
  left: 7px;
  color: #fff;
}

.main {
  position: absolute;
  top: 80px;
  height: 100vh;
  width: 1024px;
  background-color: #f0f1f2;
  border: 1px solid #dddddd;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: left;
  min-width: 384px;
  height: 687px;
  overflow-y: auto;
  border-right: 1px solid #dddddd;
}

nav::-webkit-scrollbar {
  width: 5px;
}

nav::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: #dddddd;
}

.nav-items {
  list-style: none;
  padding: 0;
}

.nav-items a {
  text-decoration: none;
}

.nav-item {
  margin-top: 20px;
  margin-left: 33px;
}

.nav-item-ico {
  float: left;
  margin-right: 5px;
}

.nav-item-ico--rotate {
  transform: rotate(15deg);
}

.nav-item-ico--margin {
  margin-top: 4px;
}

.outSearch {
  float: left;
  min-width: 639px;
  height: 687px;
  overflow-y: auto;
}

.outSearch::-webkit-scrollbar {
  width: 5px;
}

.outSearch::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: #dddddd;
}

.quantity-farm {
  margin-left: 30px;
  margin-bottom: 6px;
  margin-top: 24px;
}

.outSearch-container-farm {
  width: 580px;
  height: 63px;
  margin-bottom: 2px;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.6);
}

.outSearch-container-product {
  width: 580px;
  height: 74px;
  margin-bottom: 3px;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.6);
}

.outSearch-img {
  float: left;
  height: 42px;
  width: 42px;
  margin: 11px 14px 10px 12px;
  border-radius: 50%;
}

.product-img {
  float: left;
  height: 44px;
  width: 62px;
  margin: 15px 11px 15px 15px;
}

.name-container {
  padding-top: 25px;
}

.farm-name,
.farm-geo {
  float: left;
}

.quantity {
  float: right;
  margin-right: 18px;
}

.outSearch-product {
  margin-top: 48px;
}
